
@{
    ViewBag.Title = "门诊结算";
    Layout = "~/Views/Shared/_Base.cshtml";
}

<link href="~/Content/js/layui/css/modules/layuiAutocomplete.css" rel="stylesheet" />
<script src="~/script/BenDingComm.js"></script>
<style>
    .layui-card-header.layuibd-card-header-auto {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }

    .layuibd-card-header-auto i.layuibd-button-btn {
        position: relative;
        right: 0;
        top: 0;
        vertical-align: middle
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form" id="LAY-form" lay-filter="LAY-form-render">
            @{Html.RenderPartial("_CSharpActiveX");}
            <div class="layui-card-header layuibd-card-header-auto">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                    <legend>病人信息</legend>
                </fieldset>
                <div class="layui-form-item" style="text-align: right;">
                    <a id="BenDingDownloadFile" href="/api/BenDing/DownloadFile">医保插件下载</a>
                </div>
                <!--病人信息-->

                <div class="layui-inline">
                    <label class="layui-form-label">主诊断编码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="DiagnosisCode" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">主诊断名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="DiagnosisName" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">医保诊断编码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="DiagnosisMedicalInsuranceCode" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">医保诊断名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="DiagnosisMedicalInsuranceName" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">门诊号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="OutpatientNumber" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">身份证号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="IdCardNo" @*lay-verify="required|number"*@ autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">患者姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="PatientName" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">就诊日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="VisitDate" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">住院科室</label>
                    <div class="layui-input-inline">
                        <input type="text" name="DepartmentName" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">费用合计</label>
                    <div class="layui-input-inline">
                        <input type="text" name="MedicalTreatmentTotalCost" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">现金支付</label>
                    <div class="layui-input-inline">
                        <input type="text" id="CashPayment" name="CashPayment" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline" id="InsuranceBalanceDiv">
                    <label class="layui-form-label">账户余额</label>
                    <div class="layui-input-inline">
                        <input type="text" id="InsuranceBalance" name="InsuranceBalance" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline" id="InsuranceNameDiv">
                    <label class="layui-form-label">险种类型</label>
                    <div class="layui-input-inline">
                        <input type="text" id="InsuranceName" name="InsuranceName" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">诊断医生</label>
                    <div class="layui-input-inline">
                        <input type="text" name="DiagnosticDoctor" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">经办人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Operator" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">发票号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="InvoiceNo" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>

            </div>
            <div class="layui-form-item" id="queryDataDiv" style="text-align: center; margin-top: 20px;">
                <button type="button" Id="queryData" class="layui-btn layui-btn-radius">读卡</button>

            </div>
            <div class="layui-form-item" style="text-align: center; margin-top: 20px;" id="OutpatientRegisterDiv">
                    <button type="button" Id="OutpatientRegister" class="layui-btn layui-btn-disabled layui-btn-radius">门诊挂号</button>
                </div>
            <div class="layui-form-item" style="text-align: center; margin-top: 20px;" id="DoorDiagnosisSettlementDiv">
                <button type="button" Id="DoorDiagnosisSettlement" class="layui-btn layui-btn-disabled layui-btn-radius">门诊结算</button>

            </div>
            <div class="layui-form-item" style="text-align: center; margin-top: 20px;" id="SettlementPrintDiv">
                <button type="button" Id="SettlementPrint" class="layui-btn layui-btn-radius">结算打印</button>

            </div>
            <div class="layui-card-body" lay-size="sm">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                    <legend>医保结算信息</legend>
                </fieldset>
                <div class="layui-inline" id="SettleData">
                </div>
            </div>

        </form>
    </div>
</div>
<script>
    layui.config({
        base: '/Content/js/layui/plugin/'
    }).extend({
        autocomplete: 'layAutoComplete'
    });
    var iniJs;
    var iniMsg;
    layui.use(['form', 'laypage', 'layer', 'table', 'element', 'laydate', 'autocomplete'], function () {
        var $ = layui.$,
            element = layui.element,
            form = layui.form,
            layer = layui.layer,
            table = layui.table;
        //初始化公共页面
        iniJs = $;
        iniMsg = layer;
        $("#InsuranceBalanceDiv").hide();
        $("#InsuranceNameDiv").hide();
        $("#OutpatientRegisterDiv").hide();
        $("#DoorDiagnosisSettlementDiv").hide();
        $("#SettlementPrintDiv").hide();
        $("#queryDataDiv").hide();

        // 插件检查
        var verification = DetectActiveX();
        if (verification === false) {
            return false;
        }
        //form数据回显:数据回显到Form表单主体部分
        var jsonToForm = function (jsonData, formFilter) {
            var diagnosisList = jsonData.DiagnosisList;
            var diagnosisName = null;
            var diagnosisCode = null;
            var diagnosisMedicalInsuranceCode = null;
            var diagnosisMedicalInsuranceName = null;
            if (diagnosisList !== null) {

                for (var i = 0; i < diagnosisList.length; i++) {
                    if (diagnosisList[i].是否主诊断 === "是") {
                        diagnosisName = diagnosisList[i].诊断名称;
                        diagnosisCode = diagnosisList[i].诊断编码;
                        diagnosisMedicalInsuranceCode = diagnosisList[i].诊断医保编码;
                        diagnosisMedicalInsuranceName = diagnosisList[i].诊断医保名称;
                    }
                }

            }
            //给表单赋值
            form.val(formFilter,
                {
                    "OutpatientNumber": jsonData.OutpatientNumber,
                    "IdCardNo": jsonData.IdCardNo,
                    "PatientName": jsonData.PatientName,
                    "VisitDate": jsonData.VisitDate,
                    "DepartmentName": jsonData.DepartmentName,
                    "MedicalTreatmentTotalCost": jsonData.MedicalTreatmentTotalCost,
                    "Operator": jsonData.Operator,
                    "DiagnosticDoctor": jsonData.DiagnosticDoctor,
                    "InvoiceNo": jsonData.InvoiceNo,
                    "DiagnosisName": diagnosisName,
                    "DiagnosisCode": diagnosisCode,
                    "DiagnosisMedicalInsuranceCode": diagnosisMedicalInsuranceCode,
                    "DiagnosisMedicalInsuranceName": diagnosisMedicalInsuranceName
                });

        }

        var params = {
            "TransKey": $("#transkey").val() /*医保交易码*/,
            "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/,
            "UserId": $("#empid").val() /*授权操作人的ID*/
        }
        params["timestamp"] = (new Date()).valueOf();
        //获取医院基本信息回调方法
        window.getHospitalInfoBack = function () { };

        getHospitalInfo(getHospitalInfoBack);

        //初始化病人基本信息
        function iniInpatientInfo() {
            $("#InsuranceBalance").val(baseInfo.Inpatient.AccountBalance);
            $("#InsuranceName").val(baseInfo.Inpatient.InsuranceName);
            $("#InsuranceNameDiv").show();
            $("#InsuranceBalanceDiv").show();
            //居民
            if (baseInfo.Inpatient.InsuranceType === "342") {
                $("#OutpatientRegisterDiv").show();
                buttonStatus("OutpatientRegister", true);
            } else {
                $("#DoorDiagnosisSettlementDiv").show();
                buttonStatus("DoorDiagnosisSettlement", true);
            }
           
        }
        //获取医保病人信息
        window.getInpatientInfoBack = function () {
            iniInpatientInfo();
        }
        //获取挂号入参
        function getOutpatientRegisterParam() {
            params["timestamp"] = (new Date()).valueOf();
            $.ajax({
                type: 'post',
                url: hostNew + '/GetOutpatientRegisterParam',
                data: params,
                dataType: "json",
                async: false,
                success: function (data) {

                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);
                        //样式类名:墨绿深蓝风
                    }
                       else {
                        var dataValue = data.Data;
                        if (dataValue.TransactionInputXml !== null) {
                            var activeX = document.getElementById("CSharpActiveX");

                            var activeData = activeX.YiHaiOutpatientMethods(dataValue.TransactionControlXml, dataValue.TransactionInputXml
                                , "OutpatientRegister", $("#empid").val());
                            var activeJsonData = JSON.parse(activeData);
                            if (activeJsonData.Success === false) {
                                $.modalAlert(activeJsonData.Message, "error");

                            } else {
                                var registerParam = params;
                                registerParam["ResultJson"] = activeJsonData.Data;
                                //挂号回写
                                outpatientRegister(registerParam);
                            }

                        }
                    }
                }

            });
        }
        //确认步骤
        function confirmProcessStep(confirmParam, nextStepName) {
            $.ajax({
                type: 'post',
                url: hostNew + '/ConfirmProcessStep',
                data: confirmParam,
                dataType: "json",
                async: false,
                success: function (data) {
                 
                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);
                    }
                    else {
                        if (nextStepName === "getOutpatientDetailUploadParam") {
                            getOutpatientDetailUploadParam();
                        }
                        if (nextStepName === "OutpatientDepartmentCostInput") {
                            $("#DoorDiagnosisSettlement").hide();
                            $("#SettlementPrintDiv").show();
                            buttonStatus("DoorDiagnosisSettlement", false); 
                            ////添加结算信息
                            //if (data.Data.PayMsg !== null) {
                            //    settlementData(data.Data.PayMsg);
                            //}
                        };

                    }

                 }
             

            });

        }
        //门诊挂号
        function outpatientRegister(registerParam) {
            var confirmParam = params;
            $.ajax({
                type: 'post',
                url: hostNew + '/OutpatientRegister',
                data: params,
                dataType: "json",
                async: false,
                success: function (data) {

                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                        //样式类名:墨绿深蓝风
                    } else {
                      
                        var dataValue = data.Data;
                        if (dataValue!== null) {
                            var activeX = document.getElementById("CSharpActiveX");

                            var activeData = activeX.YiHaiOutpatientMethods(dataValue.SerialNumber, dataValue.VerificationCode
                                , "ConfirmDeal", $("#empid").val());
                            var activeJsonData = JSON.parse(activeData);
                            if (activeJsonData.Success === false) {
                                $.modalAlert(activeJsonData.Message, "error");

                            } else {
                               
                                confirmParam["ResultJson"] = activeJsonData.Data;
                                confirmParam["SettlementStep"] = "2";
                                confirmProcessStep(confirmParam,"getOutpatientDetailUploadParam" );

                            }

                        }
                       

                    }
                }

            });
        }
        //获取门诊病人费用明细上传入参
        function getOutpatientDetailUploadParam() {
            params["timestamp"] = (new Date()).valueOf();
            $.ajax({
                type: 'post',
                url: hostNew + '/GetOutpatientDetailUploadParam',
                data: params,
                dataType: "json",
                async: false,
                success: function (data) {

                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                        //样式类名:墨绿深蓝风
                    } else {
                        var dataValue = data.Data;
                        if (dataValue.TransactionInputXml !== null) {
                            var activeX = document.getElementById("CSharpActiveX");

                            var activeData = activeX.YiHaiOutpatientMethods(dataValue.TransactionControlXml, dataValue.TransactionInputXml
                                , "OutpatientDetailUpload", $("#empid").val());
                            var activeJsonData = JSON.parse(activeData);
                            if (activeJsonData.Success === false) {
                                $.modalAlert(activeJsonData.Message, "error");

                            } else {
                                var uploadParam = params;
                                uploadParam["ResultJson"] = activeJsonData.Data;
                                outpatientDetailUpload(uploadParam);

                            }

                        }
                    }
                }

            });
        }
        //门诊病人费用明细上传
        function outpatientDetailUpload(uploadParam) {
            $.ajax({
                type: 'post',
                url: hostNew + '/OutpatientDetailUpload',
                data: uploadParam,
                dataType: "json",
                async: false,
                success: function (data) {

                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);

                    } else {
                        //显示结算按钮
                        $("#DoorDiagnosisSettlementDiv").show();
                        //居民显示结算按钮
                        buttonStatus("DoorDiagnosisSettlement", true);
                        //隐藏挂号按钮
                        $("#OutpatientRegisterDiv").hide();
                        //居民显示挂号按钮
                        buttonStatus("OutpatientRegister", false);
                    }
                }

            });
        }
        //获取门诊结算参数
        function getOutpatientDepartmentCostInputParam() {


            $.ajax({
                type: 'post',
                url: hostNew + '/GetOutpatientSettlementParam',
                data: params,
                dataType: "json",
                async: false,
                success: function (data) {
                    debugger;
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                        //样式类名:墨绿深蓝风

                    } else {
                        debugger;
                        var dataValue = data.Data;
                        var activeX = document.getElementById("CSharpActiveX");
                        //门诊结算
                        var activeData = activeX.YiHaiOutpatientMethods(dataValue.TransactionControlXml, dataValue.TransactionInputXml
                            , "OutpatientSettlement", $("#empid").val());
                      
                        var activeJsonData = JSON.parse(activeData);
                        if (activeJsonData.Success === false) {
                            msgError(activeJsonData.Message);
                        } else {
                            var costInputParams = params;
                            costInputParams["ResultJson"] = activeJsonData.Data;
                            outpatientDepartmentCostInput(costInputParams);
                        }

                    }
                }

            });
        }
        //普通门诊结算
        function outpatientDepartmentCostInput(costInputParams) {

            var confirmParam = params;
            $.ajax({
                type: 'post',
                url: hostNew + '/OutpatientSettlement',
                data: costInputParams,
                dataType: "json",
                async: false,
                success: function (data) {

                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);

                    } else {
                        var dataValue = data.Data;
                        if (dataValue!== null) {
                            var activeX = document.getElementById("CSharpActiveX");

                            var activeData = activeX.YiHaiOutpatientMethods(dataValue.SerialNumber, dataValue.VerificationCode
                                , "ConfirmDeal", $("#empid").val());
                            var activeJsonData = JSON.parse(activeData);
                            if (activeJsonData.Success === false) {
                                $.modalAlert(activeJsonData.Message, "error");

                            } else {
                               
                                confirmParam["ResultJson"] = activeJsonData.Data;
                                confirmParam["SettlementStep"] = "5";
                                confirmProcessStep(confirmParam,"getOutpatientDetailUploadParam" );

                            }

                        }


                        confirmProcessStep(outpatientDepartmentCostInput);
                       
                    }
                }

            });
        }
        //门诊挂号
        $('#OutpatientRegister').on('click', function () {
            //普通
            getOutpatientRegisterParam();
        });
        //门诊结算
        $('#DoorDiagnosisSettlement').on('click', function () {
            debugger;
            getOutpatientDepartmentCostInputParam();

        });
        //查询
        $('#queryData').on('click', function () {
            getInpatientInfo(getInpatientInfoBack);
            $("#queryDataDiv").hide();

        });

        $.ajax({
            type: 'get',
            url: host + '/GetOutpatient',
            data: params,
            dataType: "json",
            async: false,
            success: function (data) {


                if (data.Success === false) {
                    var errData = data.Message;
                    //样式类名:墨绿深蓝风
                    layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });

                } else {
                    jsonToForm(data.Data, "LAY-form-render");
                    baseInfo.HospitalInfo.IdentityMark = data.Data.IdCardNo;
                    $("#queryDataDiv").show();

                }
            }
            , complete: function () {
                form.render();
            }
        });


    });


</script>
