@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/script/BenDingYiHaiComm.js"></script>
<script>
    $(function() {
        gridList();
        DetectActiveX();
    });
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SystemManage/HospitalInfo/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'Id', hidden: true },
                { label: '项目名称', name: 'DirectoryName', width: 80, align: 'left' },
                { label: '项目名称类别', name: 'DirectoryCategoryName', width: 80, align: 'left' },
                {
                    label: '是否上传', name: 'UploadMark', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue === false) {
                            return '否';
                        } else 
                        {
                            return '是';
                      
                        }
                    }
                    },

                { label: '上传人员', name: 'UploadName', width: 80, align: 'left' },
                {
                    label: '上传时间', name: 'UploadTime', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: '创建时间', name: 'CreateTime', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                }
               
            ],
            pager: "#gridPager",
            sortname: 'CreateTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val(), directoryType: $("#DirectoryType").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "更新信息",
            url: "/SystemManage/HospitalInfo/Form",
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
  
    function btn_delete() {
        $.deleteForm({
            url: "/SystemManage/HospitalInfo/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().Id },
            success: function() {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
    //医院信息上传至医保中心
    function btn_uploadData() {
        
        var iniParam =
        {
            "UserId": $("#empid").val()

        };
        $.ajax({
            type: 'post',
            url: YiHaiAPI + '/GetHospitalInfoUploadParam',
            data: iniParam,
            dataType: "json",
            async: false,
            success: function (data) {

                if (data.Success === false) {
                    var errData = data.Message;
                    $.modalAlert(errData, "error");
                  
                    //样式类名:墨绿深蓝风
                } else {
                    var dataValue = data.Data;
                    if (dataValue.TransactionInputXml !== null) {
                        var activeX = document.getElementById("CSharpActiveX");
                  
                        var activeData = activeX.YiHaiOutpatientMethods(dataValue.TransactionControlXml, dataValue.TransactionInputXml
                            , "HospitalInfoUpload", $("#empid").val());
                        var activeJsonData = JSON.parse(activeData);
                        if (activeJsonData.Success === false) {
                            $.modalAlert(activeJsonData.Message, "error");
                         
                        } else {
                            iniParam["ResultJson"] = activeJsonData.Data;
                            HospitalInfoUpload(iniParam);
                           
                        }
                    }
                }

            }

        });

    }

    function HospitalInfoUpload (parameters) {
        $.ajax({
            type: 'post',
            url: YiHaiAPI + '/HospitalInfoUpload',
            data: parameters,
            dataType: "json",
            async: false,
            success: function (data) {

                if (data.Success === false) {
                    var errData = data.Message;
                    $.modalAlert(errData, "error");
                  
                    //样式类名:墨绿深蓝风
                } else {
                    $.reload();
                }

            }

        });

    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>更新信息</a>
        </div>
        <div class="btn-group">
            <a id="NF-Upload"  class="btn btn-primary" onclick="btn_uploadData()"><i class="fa fa-plus"></i>上传至医保中心</a>
        </div>
        
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>

            <tr>
                <td>
                    <div class="input-group" >
                       项目类型
                    </div>

                </td>
                <td>
                    <div class="input-group" style="padding-left: 10px">
                        <select id="DirectoryType" name="DirectoryType" class="form-control">
                            <option value="">请选择</option>
                            <option value="0">科室</option>
                            <option value="1">医生</option>
                            <option value="2">病区</option>
                            <option value="3">床</option>
                        </select>
                    </div>

                </td>
                <td>
                    <div class="input-group" style="padding-left: 20px">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="项目名称" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    @{Html.RenderPartial("_CSharpYiHaiActiveX");}
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
